{% extends "base.html" %}

{% block content %}


<div class="site-section">
    <div class="container">
        <div class="row mb-5">

            <div class="col-md-12">
                <div class="site-blocks-table">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <div class="col-md-12 text-center  mb-5">
                            <h3 class="text-black h4">Detalle de la compra</h3>
                        </div>
                        <tbody>
                            {% for item in orden.items.all %}
                            <tr>
                                <td class="product-thumbnail">
                                    <img src="{{ item.producto.imagen.url }}" class="img-fluid">
                                </td>
                                <td>
                                    {{ item.producto.titulo }}
                                </td>
                                <td>Q {{ item.producto.get_price }}</td>
                                <td>
                                    <div class="input-group mb-3" style="max-width: 120px;">
                                        <div class="input-group-pretend">
                                            <a href="{% url 'cart:decrementar' item.id %}" class="btn btn-warning">
                                                &minus;
                                            </a>
                                        </div>
                                        <input type="text" class="form-control text-center"
                                        value="{{ item.cantidad }}"
                                        >
                                        <div class="input-group-append">
                                            <a href="{% url 'cart:incrementar' item.id %}" class="btn btn-warning">
                                                &plus;
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    Q {{ item.get_total_item_price }}
                                </td>
                                <td>
                                    <a href="{% url 'cart:remove-from-cart' item.id %}" class="btn btn-danger btn-sm">x</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">
                                    Aun no haz agregado productos al carrito <a style="color: #6a0137;" href="{% url 'cart:product-list' %}">Agregar productos</a>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row mb-12">
                    <div class="col-md-12">
                        <a class="btn btn-secondary btn-sm btn-block"
                        href="{% url 'cart:product-list' %}">Agregar más productos</a>
                    </div>
                </div>
            </div>
        </div>

        {% if orden.items.count > 0 %}
            <div class="row">
               

                <div class="col-md-12 pl-5">
                    <div class="row justify-content-left">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Total a pagar</h3>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Subtotal</span>
                                </div>

                                <div class="col-md-6 text-right">
                                    <strong class="text-black">Q {{ orden.get_subtotal }}</strong>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>

                                <div class="col-md-6 text-right">
                                    <strong class="text-black">Q {{ orden.get_total }}</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{% url 'cart:checkout' %}" class="btn btn-warning btn-lg py-3 btn-block">Siguiente</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>


{% endblock content %}