
<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <p>
        CONTACTANOS
      </p>
      <p>
        
        Oficina: Zona 2 San Pedro Sacatepequez, San Marcos.
        
        PBX: (502) 5785-2583 Siguenos:
      
      </p>
    </section>
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/gle.orozco.9" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-podcast"></i
      ></a>
    </section>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Proyecto UMG
    <a class="text-white" href="#">2021</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->