{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url({% static 'images/hero3.jpg' %}); background-size: cover;">

    <div class="container">
      <h1 class="display-4" style="color: #ffffff;">Productos de alta calidad</h1>
      <p class="lead"style="color: #ffffff;">Adquiere tus productos </p>
      <p class="lead">
        <a class="btn btn-outline-light btn-lg" href="#" role="button">Ver productos</a>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="card-title" style="color: #6a0137;" >Marcas que manejamos</h5>
        <p class="card-text">Somo una empresa inovadora donde tu eres importante y por ser importantes te ofrecemos los productos que quieres, el servicio que mereces</p>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h5 class="card-title" style="color: #6a0137;" >Misión</h5>
        <p class="card-text">Aplicar nuestros valores basados en el amor a Dios, a nosotros mismos y a todo lo que nos rodea.
        </p>
      </div>
      <div class="col-4">
        <h5 class="card-title" style="color: #6a0137;" >Visión</h5>
        <p class="card-text">Elevar la consciencia de todas las personas que son parte de la compañía y con las que nos relacionamos.</p>
      </div>

      <div class="col-4">
        <h5 class="card-title" style="color: #6a0137;" >Valores</h5>
        <p class="card-text">Amor, verdad, rectitud, paz y no violencia.</p>
      </div>    </div>
  </div>
<br>

<br>
<div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=San%20Marcos%20Guatemala%20+(Marquer)&amp;t=k&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="http://www.gps.ie/">sport gps</a></iframe></div>

{% endblock content %}