{% load crispy_forms_tags %}

{% load account socialaccount %}
<nav class="site-navigation text-right text-md-center  bg-light" style="color: black;"  role="navigation">
    <div class="container ">
        <ul class="site-menu js-clone-nav d-none d-md-block " style="padding: 0; color: black;">
            <li><a href="/">Inicio</a></li> 
            <li><a href="{% url 'cart:product-list' %}">Productos</a></li>
            <li><a href="{% url 'nosotros' %}">Sobre nosotros</a></li> 
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}"> <i class="fas fa-sign-in-alt" cla></i> Salir</a></li>
            {% else %}
            <li><a  href="{% url 'account_login' %}"> <i class="fas fa-user" cla></i>Ingresar</a></li>
            {% endif %}
        </ul>
    </div>
</nav>