{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
    <div class="row">
      <div class="col-12 ">
        <h5 class="card-title text-center" style="color: #6a0137;" >Sobre nosotros</h5>
        <h8 class="card-title text-center" >Bienvenida al sitio web de Glealways, POLÍTICAS Y CONDICIONES DE USO DEL SITIO WEB</h8><br>

        <p class="card-text">
        
          El Sitio Web “proyectoumg.pythonanywhere.com”, establecido en la República de Guatemala, es propiedad de la entidad Inversiones Glealways , Sociedad Anónima, Distribuidor Exclusivo Autorizado de Glealways®, el cual se encuentra protegido leyes aplicables en materia de propiedad intelectual y derechos de autor, a la cual en el transcurso del presente documento se le podrá denominar simple e indistintamente como el «Distribuidor» o «Inversiones Glealways».
          
          Los términos y condiciones de uso del Sitio Web “proyectoumg.pythonanywhere.com” se suscriben entre Inversiones Glealways y la persona que hace uso de éste sitio web, denominado en el transcurso de este documento simple e indistintamente como el «Usuario» o «Cliente».
          
          El registro y uso del Sitio Web “proyectoumg.pythonanywhere.com”, obliga al usuario a cumplir y respetar las Políticas y Condiciones reguladas por Inversiones Glealways en el presente documento, así como cualquier notificación legal o no, que pueda realizarse para el buen funcionamiento del mismo. Asimismo, el registro y uso del referido sitio web, obliga al ususario a la observancia de todas las cláusulas contenidas en el presente documento, así como las de exención de responsabilidad, inclusive. Es importante mencionar que las políticas de uso aplicables al Sitio Web “proyectoumg.pythonanywhere.com”, pueden diferir en gran medida de las políticas que rijan en cualquier establecimiento físico, propiedad de Inversiones Glealways.
          </p>
      </div>
    </div>
  </div>
  <br>
{% endblock content %}