{% extends "base.html" %}
{% block content %}
<br>
<div class="site-sectino">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-m-12">
                <div class="card">
                    <br>
                    <h5 class="card-title text-center" style="color: #101110">Tus ordenes</h5>
                    <div class="site-blocks-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Fecha</th>
                                    <th>Costo</th>
                                    <th>Estado de la orden</th>
                                    <th>Estado del pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for orden in ordenes %}
                                <tr>
                                    <a><td>#{{ orden.numero_referencia }}</td></a>
                                    <td>{{ orden.fecha_orden }}</td>
                                    <td>Q {{ orden.get_total }}</td>
                                    <td> <span class="badge bg-success rounded-pill" style="color: aliceblue;">{% if orden.ordenada %}Recibida{% else %}Rechazada{% endif %}</span></td>
                                    <td> <span class="badge bg-warning rounded-pill" style="color: aliceblue;">{% if orden.estado_pago %}Pagado{% else %}No pagado{% endif %}</span></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td class="text-center">Aun no tienes ninguna compra.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock content %}